APP_ENV=dev
APP_SECRET=change-me
DATABASE_URL="mysql://app:app@database:3306/app?serverVersion=mariadb-10.11.0&charset=utf8mb4"
BALIKOVNA_FEED_URL="http://napostu.ceskaposta.cz/vystupy/balikovny.xml"
HTTP_TIMEOUT=60
