/.idea/
.env
/vendor/

/var/*
!/var/.gitkeep

!/var/log/
/var/log/*
!/var/log/.gitkeep

!/var/phpunit/
/var/phpunit/*
!/var/phpunit/.gitkeep

/.phpunit.result.cache
/.phpunit.cache/
/.php-cs-fixer.cache
/_src/diffs/*.diff
